asgiref==3.7.2
cffi==1.16.0
cryptography==42.0.5
Django==5.0.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
packaging==23.2
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==1.7.1
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
